<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mt-3">Restaurant Info</h1>

      <form action="/restaurants/{{ restaurant._id }}/edit" method="POST">
        <div class="mb-3">
          <label for="name" class="mb-2">Name</label>
          <input type="text" id="name" name="name" class="form-control" placeholder="Enter Name" value="{{restaurant.name}}">
        </div>
        <div class="mb-3">
          <label for="name_en" class="mb-2">English Name</label>
          <input type="text" id="name_en" name="name_en" class="form-control" placeholder="name_en" value="{{restaurant.name_en}}">
        </div>
        <div class="mb-3">
          <label for="category" class="mb-2">Category</label>
          <input type="text" id="category" name="category" class="form-control" placeholder="category" value="{{restaurant.category}}">
        </div>
        <div class="mb-3">
          <label for="image" class="mb-2">Image Url</label>
          <input type="url" id="image" name="image" class="form-control" placeholder="image url" value="{{restaurant.image}}">
        </div>
        <div class="mb-3">
          <label for="location" class="mb-2">Location</label>
          <input type="text" id="location" name="location" class="form-control" placeholder="location" value="{{restaurant.location}}">
        </div>
        <div class="mb-3">
          <label for="phone" class="mb-2">Phone</label>
          <input type="text" id="phone" name="phone" class="form-control" placeholder="phone" value="{{restaurant.phone}}">
        </div>
        <div class="mb-3">
          <label for="google_map" class="mb-2">Google Map</label>
          <input type="url" id="google_map" name="google_map" class="form-control" placeholder="google_map" value="{{restaurant.google_map}}">
        </div>
        <div class="mb-3">
          <label for="rating" class="mb-2">Rating</label>
          <input type="number" step="0.1" id="rating" name="rating" class="form-control" placeholder="rating" value="{{restaurant.rating}}">
        </div>
        <div class="mb-3">
          <label for="description" class="mb-2">Description</label>
          <input type="text" id="description" name="description" class="form-control" placeholder="description" value="{{restaurant.description}}">
        </div>
        <button type="submit">Save</button>
        <a href="/" class="btn btn-primary">back</a>
      </form>
    </div>
  </div>
</div>